<div class="border-t mt-10 border-solid border-black" >
</div>
<div class="container mx-auto  py-10 font-[Poppins]">
    <div class="flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/4 mb-8 md:mb-0">
        <img
          src="../../../../../../../../assets/nirjai/home/logo2.png"
          alt="Nirjai Technologies Logo"
          class="lg:w-56 w-[13rem] h-auto"
        />
        <div class="mt-8 flex flex-row">
          <a href="#" class="mr-2"
            > <img
            src="../../../../../../../../assets/nirjai/icon/linkedinn.png" class="w-6"
          />
          </a>
          <a href="#" class="ml-2"
            ><img
            src="../../../../../../../../assets/nirjai/icon/mail.png" class="w-6"
          />
          </a>
        </div>
        <!-- <div class="mt-8">
          <h3 class="text-lg font-semibold">Contact Us</h3>
          <p class="text-gray-600">Phone number: +91-11-42902275</p>
        </div> -->
      </div>
      <div class="w-full md:w-1/4 mb-8 md:mb-0">
        <h3 class="text-lg font-semibold mb-4">Company</h3>
        <ul class="text-gray-600">
          <li>
            <a href="#" class="hover:text-gray-800">About Us</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-800">Our Approach</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-800">Why Us?</a>
          </li>
        </ul>
        <h3 class="text-lg font-semibold mt-8 mb-4">Address</h3>
        <p class="text-gray-600">
          B701,4th Floor, <br />
          Munirka Apartments, Sector-9, <br />
          Dwarka, New Delhi - 110077
        </p>
      </div>
      <div class="w-full md:w-1/4 mb-8 md:mb-0">
        <h3 class="text-lg font-semibold mb-4">Services</h3>
        <ul class="text-gray-600">
          <li>
            <a href="#" class="hover:text-gray-800">IT Consulting</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Product Design & Ideation</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-gray-800">Software Development</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Mobile App Development</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Data Science & Analytics</a
            >
          </li>
          <li><a href="#" class="hover:text-gray-800">DevOps</a></li>
          <li>
            <a href="#" class="hover:text-gray-800">Cloud Services</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Artificial Intelligence & Machine Learning</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Competency Development</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <h3 class="text-lg font-semibold mb-4">IT Training</h3>
        <ul class="text-gray-600">
          <li>
            <a href="#" class="hover:text-gray-800"
              >Structured Learning Program</a
            >
          </li>
   <li>
            <a href="#" class="hover:text-gray-800"
              >Corporate Training</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-gray-800"
              >Campus Training</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>