<div class="container bg-white font-[Poppins]">
    <div class="mainBg parallax">
        <div class="lg:w-[84%] mt-12 lg:m-auto flex flex-col items-center justify-end h-full">
            <div class="bgTxt poppins">"Empowering small and medium-sized enterprises (SMEs) with Innovative IT and
                Engineering Solutions."</div>
            <button class="callbackButton" (click)="navigateToSection('contact-us')">Book Your Call</button>
        </div>
    </div>

    <div class="bg-white z-10">
        <div class="innerContainer z-10 mb-8 ">
            <div class="pt-4 text-2xl text-justify Poppins-font" id="about">
                <h2 class="text-3xl font-bold mt-4">About us</h2>
                <!-- <p class="text-justify text-xl">We are –</p>
                <h1 class="pt-4 text-justify font-semibold text-[#ffa500]">Nirjai Technologies Private Limited</h1>
                <h2 class="text-3xl font-bold mt-4">Place, where we pioneer innovative delivery optimization</h2> -->
                <p class="text-lg lg:text-xl text-gray-600 mt-2">Welcome to Nirjai Technologies Private Limited, where we <span
                        class="font-bold">innovate continuously to optimize your solution delivery</span></p>
                <p class="text-lg lg:text-xl text-gray-600 mt-5">
                    We are a dynamic IT startup dedicated to empowering small and
                    medium-sized enterprises (SMEs). At Nirjai Technologies, we pride ourselves on our unique approach
                    for
                    delivery that blends an accelerator-based delivery model with unique staffing strategies to offer
                    you
                    cutting-edge yet cost-effective solutions. Our mission is to bridge the gap between technology and
                    business
                    needs, ensuring that SMEs can thrive in today’s competitive landscape.

                </p>
            </div>

            <!-- services.component.html -->
            <div class="container mx-auto">
                <!-- <h2 class="text-3xl font-bold mt-4 pl-14">Navigate the digital frontier with our engineering excellence</h2> -->
                <section class="py-16" id="services">
                    <h2 class="text-2xl lg:text-3xl font-bold mt-4">Navigate the digital frontier with our engineering excellence
                    </h2>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/it.png" class="h-8 w-8 text-black" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">IT Consulting</h3>
                                <p class="text-gray-600">
                                    As the driving force behind countless organizational successes, we deliver strategic
                                    IT
                                    consulting services that empower our clients to unlock hidden revenue within their
                                    processes
                                    and silos.
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/lightbulb.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Product Design & Ideation</h3>
                                <p class="text-gray-600">
                                    We craft, design, and engineer creativity through our ideation and product design
                                    services,
                                    delivering maximum value while captivating your audience with designs and products
                                    that
                                    stand unmatched in quality.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/lap.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Software Development</h3>
                                <p class="text-gray-600">
                                    We are agile, innovative, and experts in engineering software solutions specifically
                                    designed to address your customers' unique pain points, delivering measurable value
                                    and
                                    unlocking new revenue streams.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/it.png" class="h-8 w-8 text-black" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Mobile App Development</h3>
                                <p class="text-gray-600">
                                    Whatever your niche, industry, or product, we deliver apps that elevate your market
                                    position
                                    and captivate your users. Leveraging DevOps and agile methodologies, we extract
                                    value
                                    propositions from your offerings and embed them into cutting-edge, future-ready
                                    applications.
                                </p>
                            </div>
                        </div>


                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/chart.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Data Science & Analytics</h3>
                                <p class="text-gray-600">
                                    In today’s consumer-driven landscape, data is a company’s most valuable asset for
                                    understanding customer desires. That’s why we offer next-generation data science and
                                    analytics services, handling the complex number-crunching for you, so you can focus
                                    on what
                                    truly matters—meeting your customers' needs.
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/dev.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">DevOps</h3>
                                <p class="text-gray-600">
                                    By embracing an infinite loop of continuous integration and continuous delivery, we
                                    accelerate the development process, guiding your business on an unprecedented growth
                                    journey. Together, we’ll enhance your capabilities and unlock new opportunities for
                                    success

                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/cloud.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Cloud Services</h3>
                                <p class="text-gray-600">
                                    The era of on-premises servers and server rooms is behind us. We guide our clients
                                    in
                                    migrating their data to the cloud, optimizing their cloud spending, and developing
                                    architectures that are fundamentally streamlined and efficient. With our
                                    cloud-managed
                                    services, you can trust us to manage your cloud operations, allowing you to focus on
                                    growing
                                    your business </p>
                            </div>
                        </div>

                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">

                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/ai.png" class="h-8 w-8 text-black" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Artificial Intelligence &
                                    Machine Learning</h3>
                                <p class="text-gray-600">
                                    As a forward-thinking organization, we recognize that AI and machine learning have
                                    the power
                                    to transform businesses and their processes. We create next-generation AI-driven
                                    solutions
                                    designed to help businesses thrive and scale in today’s competitive market </p>
                            </div>

                        </div>

                        <div class="flex flex-row ">
                            <div class="border-l-4 border-solid pr-4 border-black">
                            </div>
                            <div class="">
                                <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                    style="background-color: #ffa807;">
                                    <img src="../../../assets/nirjai/icon/compe.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Competency Development</h3>
                                <p class="text-gray-600">
                                    Enhance your team’s capabilities with our workforce enhancement services. We provide
                                    skilled
                                    professionals to seamlessly fill gaps and support your projects, ensuring efficiency
                                    and
                                    success at every step. </p>
                            </div>
                        </div>


                    </div>
                </section>
                <!-- expertise.component.html -->
                <!-- <div class="container mx-auto px-6 py-12">
                <h2 class="text-center text-2xl font-bold">Expertise in Technologies</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
        
                </div>
            </div> -->
                <div id="approach">
                    <h2 class="text-3xl font-bold">Our Approach</h2>
                    <p class="text-justify text-xl mt-3 font-bold">Our approach is designed to provide comprehensive
                        solutions
                        that are
                        tailored to the specific needs of each client.</p>
                    <!-- <p class="text-center text-2xl mt-3">The League of Extraordinary Web & Mobile App Builders</p> -->
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                        <div>
                            <div class=" flex flex-row">
                                <div class="flex items-center justify-center rounded-lg w-16 h-16  mb-4"
                                    style="background-color: black">
                                    <img src="../../../assets/nirjai/icon/mis.svg" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <div>
                                    <p class="text-black text-xl font-bold ml-4 lg:mt-10">
                                        Innovative Products </p>
                                </div>
                            </div>
                            <p class="text-gray-600">
                                We have developed state-of-the-art software and IT solutions that are not only
                                innovative but
                                also scalable and user-friendly. Our products are designed to streamline operations,
                                enhance
                                productivity, and drive growth.
                            </p>
                        </div>

                        <div>
                            <div class=" flex flex-row">
                                <div class="flex items-center justify-center w-16 h-16 rounded-lg mb-4"
                                    style="background-color: black">
                                    <img src="../../../assets/nirjai/icon/hand.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <div>
                                    <p class="text-black text-xl font-bold ml-4 lg:mt-10">
                                        Efficient Delivery </p>
                                </div>
                            </div>
                            <p class="text-gray-600">Our delivery model is built on agility and precision. We ensure
                                that our
                                solutions are
                                implemented seamlessly, with minimal disruption to your business. Our team works closely
                                with
                                you to understand your requirements and deliver results that exceed expectations.</p>
                        </div>

                        <div>
                            <div class=" flex flex-row">
                                <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-lg"
                                    style="background-color: black">
                                    <img src="../../../assets/nirjai/icon/man.png" class="h-8 w-8 text-black"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                </div>
                                <div>
                                    <p class="text-black text-xl font-bold ml-4 lg:mt-10">
                                        Strategic Staffing </p>
                                </div>
                            </div>
                            <p class="text-gray-600">Our delivery model is built on agility and precision. We ensure
                                that our
                                solutions are
                                implemented
                                seamlessly, with minimal disruption to your business. Our team works closely with you to
                                understand
                                your requirements and deliver results that exceed expectations.</p>
                        </div>

                    </div>
                    <!-- <div id="whyus">
                        <h2 class="text-3xl font-bold">Why Us?</h2>
                        <p class="text-justify text-gray-600 mt-3">With over 27 years of extensive experience in IT
                            solutions,
                            product
                            delivery, and consulting, our founder brings a wealth of knowledge and expertise to the
                            table. His
                            career spans a diverse range of technology & organization, where he has made significant
                            contributions in the Fintech, Health, Consulting, and Retirement sectors. His deep
                            understanding of
                            these industries, combined with his technical prowess, enables him to drive innovative
                            solutions
                            that meet the unique needs of SMEs.</p>
                    </div> -->
                    <div class=" flex lg:flex-row flex-col mt-10">
                        <div class="flex items-center justify-center mb-4 rounded-lg" style="background-color: black">
                            <img src="../../../assets/nirjai/icon/3man.png" class="h-40 w-40 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="ml-4">
                            <p class="text-gray-600 ">
                                Rich Network of </p>
                            <p><span class="font- text-black font-bold text-4xl">1000+
                                </span><span class="text-justify font-semibold text-gray-600 text-2xl">Scalable</span>
                            </p>
                            <p class="">on-demand cross technology IT consultants with rich industry experience for
                                various
                                on-demand
                                time based/outcome based contracting needs.</p>
                        </div>
                    </div>
                    <!-- supporting Tech -->
                    <div>
                        <h2 class="text-2xl font-bold mb-5 mt-10">Expertise In Technologies</h2>
                        <div>
                            <div>

                                <div
                                    class="basis-4/6 border lg:border-r-2 lg:border-b-2 rounded-md  border-gray-200 h-96 lg:h-80">
                                    <div class="lg:block hidden">
                                        <div class="flex flex-row divide-x ">

                                            <!-- Tabs -->

                                            <div [ngClass]="{'active': selectedTab == 1}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(1)">Web Application Development</div>
                                            <div [ngClass]="{'active': selectedTab == 2}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(2)">Mobile Application Development</div>
                                            <div [ngClass]="{'active': selectedTab == 3}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(3)">Middleware
                                                Support</div>
                                            <div [ngClass]="{'active': selectedTab == 4}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(4)">Business/Artifical
                                                Intelligent</div>
                                            <div [ngClass]="{'active': selectedTab == 5}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(5)">Automation Frameworks & Tools</div>
                                            <div [ngClass]="{'active': selectedTab == 6}"
                                                class="bg-black text-[#ffa807] text-center p-4 font-medium text-base cursor-pointer"
                                                (click)="chngTech(6)">Cloud Based Solution Implementations</div>
                                        </div>
                                    </div>

                                    <div class="lg:hidden block mt-6 mb-6">
                                        <mat-tab-group class="snap-x" (selectedIndexChange)="chngTechMob($event)">
                                            <mat-tab class="snap-center" label="Web Application Development">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <!-- <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found"> -->
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab class="snap-center" label="Mobile Application Development">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found">
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab class="snap-center" label="Middleware Support">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found">
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab class="snap-center" label="Business/Artifical Intelligent">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found">
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab class="snap-center" label="Automation Frameworks & Tools">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found">
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab class="snap-center" label="Cloud Based Solution Implementations">
                                                <div class="flex flex-row gap-12 pt-8 pl-2 flex-wrap">
                                                    <div *ngFor="let item of getFilteredTechnologies()">
                                                        <img class="w-20" [src]="item.imageUrl" alt="Icon Not Found">
                                                    </div>
                                                </div>
                                            </mat-tab>
                                        </mat-tab-group>
                                    </div>

                                    <!-- Content -->
                                    <!-- lg:block hidden -->
                                    <div class="">
                                        <div class="flex flex-row flex-wrap gap-12 lg:gap-[6rem] pt-3 lg:pt-8 lg:pl-14 pl-4 lg:pr-8 pr-4">
                                            <div *ngFor="let item of getFilteredTechnologies()">
                                                <img [src]="item.imageUrl" class="w-12" alt="Icon Not Found">
                                                <h1 class="mt-2 font-medium text-center">{{item.techName}}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--  -->

                    <div id="it-training">
                        <h2 class="text-2xl font-bold mt-10">IT Training Program</h2>
                        <div class=" flex flex-col lg:flex-row mt-5">
                            <div class="flex items-center justify-center mb-4 rounded-lg"
                                style="background-color: black">
                                <img src="../../../assets/nirjai/icon/5man.png" class="h text-black" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                            </div>
                            <div class="ml-4 text-gray-600  mt-4">
                                <p>We have launched an IT training program to address the skills gap in the competitive
                                    IT
                                    industry. This 4-Month program provides mentorship from experts, Skills development,
                                    practical experience, real-world projects, and valuable insights into daily
                                    operations and
                                    workplace culture. Designed to make you job-ready, it equips candidates with the
                                    problem-solving skills needed to succeed and advance their careers in IT.</p>
                            </div>
                        </div>
                    </div>

                    <!-- image -->
                    <section class="py-5">
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/st.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Structured Learning Program
                                    </h3>
                                    <p class="text-gray-600">
                                        Join our structured four-month learning program with continuous assessments that
                                        track
                                        your growth in both technical and soft skills, ensuring you’re well-prepared for
                                        success
                                        in the industry.
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/ha.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Hands-On Client Projects</h3>
                                    <p class="text-gray-600">
                                        From day one, you’ll immerse yourself in live, client-facing projects, tackling
                                        real-world challenges instead of hypothetical case studies. It’s your chance to
                                        make a
                                        genuine impact right from the start!
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/me.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Mentorship by Industry
                                        Professionals
                                    </h3>
                                    <p class="text-gray-600">
                                        Receive direct guidance from seasoned professionals in leading organizations.
                                        Our
                                        mentors—senior developers, QA experts, and project managers—are here to help you
                                        cultivate industry-standard skills, ensuring you're well-prepared for the
                                        challenges
                                        ahead.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/pr.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Professional Portfolio
                                        Experience</h3>
                                    <p class="text-gray-600">
                                        Craft a portfolio of live projects that you can proudly present to future
                                        employers.
                                        Plus, we support top performers with job placement assistance, opening doors to
                                        interviews with leading IT companies and helping you take the next step in your
                                        career.
                                    </p>
                                </div>
                            </div>


                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/re.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Recognition for High Achievers
                                    </h3>
                                    <p class="text-gray-600">
                                        Unlock bonuses, secure paid internships, and receive refunds for certifications
                                        based on
                                        your performance. Your hard work and dedication will not only be recognized but
                                        also
                                        rewarded, setting you on a path to success!
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-row ">
                                <div class="border-l-4 border-solid pr-4 border-black">
                                </div>
                                <div class="">
                                    <div class="flex items-center justify-center w-16 h-16 rounded-full mb-4"
                                        style="background-color: #ffa807;">
                                        <img src="../../../assets/nirjai/icon/ref.png" class="h-8 w-8 text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Referral Rewards Program</h3>
                                    <p class="text-gray-600">
                                        Share the excitement of our course with your friends! For every successful
                                        enrollment
                                        you refer, you’ll be rewarded with exciting bonuses and perks, turning your
                                        network into
                                        a rewarding experience. Let’s grow together!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- img-end  -------------------------------------------------------------------------->
                    <!-- contactus-start -->
                    <div class="" id="contact-us">
                        <h2 class="text-3xl font-bold  text-gray-800 mb-6">Our team is always ready to connect with you
                        </h2>
                        <div class=" flex flex-col md:flex-row gap-16 w-full">
                            <div class="flex items-center justify-center mb-8">
                                <div class="bg-gray-800 w-36 h-36 rounded-full flex items-center justify-center">
                                    <div class="items-center justify-center rounded-lg" style="background-color: black">
                                        <img src="../../../assets/nirjai/icon/cont.png" class="rounded-lg text-black"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    </div>
                                </div>
                            </div>

                            <div class="w-full md:w-7/12">
                                <form class="space-y-4" (ngSubmit)="openEmail()">
                                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="firstName" class="block text-sm font-medium text-gray-700">First
                                                Name*</label>
                                            <input type="text" name="firstName" id="firstName"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="firstName"
                                                required>
                                        </div>
                                        <div>
                                            <label for="lastName" class="block text-sm font-medium text-gray-700">Last
                                                Name*</label>
                                            <input type="text" name="lastName" id="lastName"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="lastName"
                                                required>
                                        </div>
                                    </div>
                                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="email" class="block text-sm font-medium text-gray-700">Email
                                                id*</label>
                                            <input type="email" name="email" id="email"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="email" required>
                                        </div>
                                        <div>
                                            <label for="phone" class="block text-sm font-medium text-gray-700">Phone
                                                No*</label>
                                            <input type="tel" name="phone" id="phone"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="phone" required>
                                        </div>
                                    </div>
                                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="service" class="block text-sm font-medium text-gray-700">Select
                                                a
                                                service*</label>
                                            <select name="service" id="service"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="service"
                                                required>
                                                <option value="">Select an option</option>
                                                <option value="IT Consulting">IT Consulting</option>
                                                <option value="Product Design & Ideation">Product Design & Ideation
                                                </option>
                                                <option value="Software Development">Software Development</option>
                                                <option value="Mobile App Development">Mobile App Development</option>
                                                <option value="Data Science & Analytics">Data Science & Analytics
                                                </option>
                                                <option value="DevOps">DevOps</option>
                                                <option value="Cloud SERVICES">Cloud SERVICES</option>
                                                <option value="Artificial Intelligence & Machine Learning">Artificial
                                                    Intelligence & Machine Learning</option>
                                                <option value="Competency Development">Competency Development</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="industry"
                                                class="block text-sm font-medium text-gray-700">Industry</label>
                                            <select name="industry" id="industry"
                                                class="mt-1 p-2 w-full border rounded-md" [(ngModel)]="industry">
                                                <option value="">Select an option</option>
                                                <option value="Healthcare">Healthcare</option>
                                                <option value="Fintech">Fintech</option>
                                                <option value="E-commerce">E-commerce</option>
                                                <option value="Consulting">Consulting</option>
                                                <option value="Retirement Sector">Retirement Sector</option>
                                                <option value="SaaS">SaaS</option>
                                                <option value="Others (On-demand)">Others (On-demand)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <textarea class="mt-1 p-2 w-full border rounded-md" placeholder="Description"
                                            rows="3" [(ngModel)]="description"></textarea>
                                    </div>
                                    <button class="bg-[#FFA500] font-medium py-2 px-4 rounded">Book your call</button>
                                </form>
                            </div>

                        </div>
                    </div>

                    <!-- ---------------------------end -------------------------------------------------- -->
                </div>
            </div>
        </div>
    </div>
</div>