<header class="font-[Poppins]">
    <div class="p-2 lg:p-2 lg:px-20 w-full" 
         [ngClass]="{ 'bg-white': selectedLink === 'it-training', 'bg-gradient-to-r from-[#25140d] to-[#4c271f]': selectedLink !== 'it-training' }">
      <div class="container lg:mx-auto flex items-center justify-between">
        <div class="flex items-center">
          <div>
            <img class="lg:w-44 w-[10rem] lg:ml-0 ml-3" [src]="logoSrc" alt="Logo">
          </div>
        </div>
  
        <div id="navbar-links" class="hidden lg:flex space-x-6 mr-10">
          <a 
            (click)="selectLink('about')" 
            [ngClass]="{ 'border-b-2 border-yellow-500': selectedLink === 'about', 'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training' }"
            class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg"
          >
            About Us
          </a>
          <a 
            (click)="selectLink('services')" 
            [ngClass]="{ 'border-b-2 border-yellow-500': selectedLink === 'services', 'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training' }"
            class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg"
          >
            Services
          </a>
          <a 
            (click)="selectLink('approach')" 
            [ngClass]="{ 'border-b-2 border-yellow-500': selectedLink === 'approach', 'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training' }"
            class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg"
          >
            Our Approach
          </a>
          <a 
            (click)="selectLink('it-training')" 
            [ngClass]="{ 'border-b-2 border-yellow-500': selectedLink === 'it-training', 'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training' }"
            class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg"
          >
            IT Training
          </a>
          <a 
            (click)="selectLink('contact-us')" 
            [ngClass]="{ 'border-b-2 border-yellow-500': selectedLink === 'contact-us', 'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training' }"
            class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg"
          >
            Contact Us
          </a>
        </div>
  
        <!-- Hamburger menu (for small screens) -->
        <button class="lg:hidden focus:outline-none" mat-button (click)="openHmbg()">
          <mat-icon class="icon-size-15" [ngClass]="{'text-black': selectedLink === 'it-training', 'text-white': selectedLink !== 'it-training'}">menu</mat-icon>
        </button>
      </div>
    </div>
  </header>
  
  
  

<!-- for mobile screen menu -->


<div [ngClass]="{'right-0': hmbrOpen, 'right-[-100%]': !hmbrOpen}" class=" h-screen absolute bg-black top-0 transition-all lg:hidden z-50 text-[#ffa807] font-[Poppins]">
    <div class="flex items-center px-4 py-4">
        <button (click)="openHmbg()" class="text-2xl text-[#ffa807]">
            <mat-icon class="icon-size-8">arrow_back</mat-icon>
        </button>
        <span class="text-lg ml-4">Navigations</span>
    </div>
    <div class="flex flex-col space-y-6 p-6">
        <button (click)="openHmbg();selectLink('')" class="flex items-center text-lg" mat-menu-item>
            <img src="../../../../../../../../assets/nirjai/icon/Home.png" alt="Nirjai Technologies Logo" class="mr-4">
            Home
        </button>
        <button (click)="openHmbg();selectLink('services')" class="flex items-center text-lg " mat-menu-item>
            <img src="../../../../../../../../assets/nirjai/icon/services.png" alt="Nirjai Technologies Logo" class="mr-4">
            Services
        </button>
        <button (click)="openHmbg();selectLink('approach')" class="flex items-center text-lg " mat-menu-item>
            <img src="../../../../../../../../assets/nirjai/icon/our.png" alt="Nirjai Technologies Logo" class="mr-4">
            Our Approach
        </button>
        <button (click)="openHmbg();selectLink('it-training')"  class="flex items-center text-lg" mat-menu-item>
            <img src="../../../../../../../../assets/nirjai/icon/itTraning.png" alt="Nirjai Technologies Logo" class="mr-4">
            IT Training Program
        </button>
        <button (click)="openHmbg();selectLink('contact-us')" class="flex items-center text-lg" mat-menu-item>
            <img src="../../../../../../../../assets/nirjai/icon/cus.png" alt="Nirjai Technologies Logo" class="mr-4">
            Contact Us
        </button>
    </div>
    <div class="border-t border-solid border-[#ffa807] mr-14 ml-14" >
    </div>
    <div class="mt-10 flex justify-center pb-8">
        <img src="../../../../../../../../assets/nirjai/home/logo.png" alt="Nirjai Technologies Logo" class="h-16">
    </div>
</div>
