<header class="font-[Poppins]">
    <div class="p-2 lg:p-2 lg:px-20 w-full bg-gradient-to-r from-[#25140d] to-[#4c271f]">
        <div class="container lg:mx-auto flex items-center justify-between">
            <div class="flex items-center">
                <!-- Logo (visible on all screens) -->
                <div routerLink="/sourceease/website/home">
                    <img class="lg:w-44 w-[13rem]" src="../../../../../../../../assets/nirjai/home/logo.png" alt="Logo">
                </div>
            </div>

            <!-- Desktop Navbar Links -->
            <div id="navbar-links" class="hidden md:flex space-x-6 mr-10">
                <a (click)="navigateToSection('about')" routerLinkActive="font-bold text-xl"
                    class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg text-white">
                    About Us
                </a>
                <a (click)="navigateToSection('services')" routerLinkActive="font-bold text-xl"
                    class="hover:underline p-2 cursor-pointer roboto-font flex items-center text-lg text-white">
                    Services
                </a>
                <a (click)="navigateToSection('approach')" routerLinkActive="font-bold text-xl"
                    class="hover:underline p-2 roboto-font cursor-pointer flex items-center text-lg text-white">
                    Our Approach
                </a>
                <a (click)="navigateToSection('it-training')"
                    class="hover:underline p-2 flex items-center text-lg cursor-pointer roboto-font text-white"
                    routerLinkActive="font-bold text-xl" routerLink="/about-us">
                    IT Training
                </a>
                <a (click)="navigateToSection('contact-us')"
                    class="hover:underline p-2 flex items-center text-lg cursor-pointer roboto-font text-white"
                    routerLinkActive="font-bold text-xl" routerLink="/about-us">
                    Contact Us
                </a>
            </div>

               <!-- Hamburger menu icon (visible on small screens) [matMenuTriggerFor]="menu" -->
               <button class="md:hidden focus:outline-none " mat-button (click)="openHmbg()">
                <mat-icon class="icon-size-8 text-white">menu</mat-icon>
            </button>
        </div>
    </div>
</header>

<!-- for mobile screen menu -->



<div [ngClass]="{'left-0': hmbrOpen, 'left-[-100%]': !hmbrOpen}" class="w-full h-[20rem] absolute  bg-white top-20 left-0 transition-all md:hidden z-50">
    <div class="flex flex-col space-y-4 p-4">
        <button routerLinkActive="font-bold text-indigo-900" (click)="openHmbg();navigateToSection('about')" class="text-xl font-bold" mat-menu-item>
            <!-- <mat-icon class="icon-size-8">home</mat-icon>  -->
            About Us
        </button>
        <button routerLinkActive="font-bold text-indigo-900" (click)="openHmbg();navigateToSection('services')" class="text-xl font-bold" mat-menu-item>
            <!-- <mat-icon class="icon-size-8">group</mat-icon> -->
            Services
        </button>
        <button routerLinkActive="font-bold text-indigo-900" (click)="openHmbg();navigateToSection('approach')" class="text-xl font-bold " mat-menu-item>
            <!-- <mat-icon class="icon-size-8">group</mat-icon> -->
            Our Approach
        </button>
        <button routerLinkActive="font-bold text-indigo-900"  (click)="openHmbg();navigateToSection('it-training')" class="text-xl font-bold" mat-menu-item>
            <!-- <mat-icon class="icon-size-8">group</mat-icon> -->
            IT Training
        </button>

        <button routerLinkActive="font-bold text-indigo-900" (click)="openHmbg();navigateToSection('contact-us')" class="text-xl font-bold" mat-menu-item>
            <!-- <mat-icon class="icon-size-8">call</mat-icon> -->
             Contact Us
        </button>
    </div>
</div>

