<div class="container bg-white font-[Poppins]">
    <!-- link section start -->
    <div class="py-6  text-base text-center ">
        <div class="bg-[#ffa807] p-2 ">
            <p>Join our upcoming batch <span class="font-medium"> Aarambh Fellowship Program</span> <span
                    class="pl-4 font-semibold cursor-pointer">CLICK HERE</span></p>
        </div>
    </div>
    <!------------------------- link section end ---------------------------------->
    <!------------------------- image section start ---------------------------------->
    <div class="lg:px-[180px] px-4">
        <section class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 py-3 blocks">
                <div class=" group">
                    <div class="lg:mt-28 mt-0 mb-5">
                        <p class="text-3xl font-semibold sm:text-justify">From Aspirations to Reality: Transform Your
                            Career in IT</p>
                    </div>
                    <div class="flex flex-row">
                        <div class="flex items-center justify-center lg:w-16 lg:h-16 w-24 rounded-full mb-4 lg:mr-6 mr-3 lg:ml-0 ml-3"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p1.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-3"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p2.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-3"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p3.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-3"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p4.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-3"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p5.png" class=" text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="max-w-sm mx-auto p-6 bg-orange-50 rounded-lg shadow-lg">
                        <form class="space-y-4">
                            <!-- Interest Select -->
                            <div>
                                <label for="interest" class="block text-sm font-medium text-gray-700">Your
                                    Interest*</label>
                                <select id="interest" name="interest" class="mt-1 p-2 w-full border rounded-md">
                                    <option>Select an interest</option>
                                    <option>Interest 1</option>
                                    <option>Interest 2</option>
                                </select>
                            </div>

                            <!-- Full Name -->
                            <div>
                                <label for="full-name" class="block text-sm font-medium text-gray-700">Your Full
                                    Name*</label>
                                <input type="text" name="name" id="name" class="mt-1 p-2 w-full border rounded-md"
                                    required>
                            </div>

                            <!-- Email Address -->
                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700">Your Email
                                    Address*</label>
                                <input type="text" name="address" id="address" class="mt-1 p-2 w-full border rounded-md"
                                    required>
                            </div>

                            <!-- Contact Number -->
                            <div>
                                <label for="contact" class="block text-sm font-medium text-gray-700">Your Contact
                                    Number*</label>
                                <input type="text" name="contact" id="contact" class="mt-1 p-2 w-full border rounded-md"
                                    required>
                            </div>

                            <!-- Submit Button -->
                            <div class="pt-4">
                                <button type="submit"
                                    class="w-full px-4 py-2 bg-[#ffa807] text-white font-bold rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-[#ffa807]">
                                    I am interested
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

                <div>
                    <img src="../../../assets/nirjai/it-traning/it-t.png" class="w" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">

                </div>
                <div>


                </div>
            </div>
        </section>
    </div>

    <!-- end imeage section -->
    <!-- text-start -->
    <div class="text-justify font-[Roboto ] lg:px-[180px] px-4">
        <p class="text-sm lg:text-lg text-gray-600 mt-5">
            <span class="text-4xl font-semibold">O</span>ur journey began in 2022 with the launch of our first startup,
            Sourceease HR Service Pvt. Ltd., in the IT
            recruitment sector. Our mission is to create a premier marketplace for top talent, catering to recruiters,
            employers, and assessors alike. To support this vision, we developed an in-house web application and a
            mobile app, Urjobmart.

        </p>
        <p class="text-sm lg:text-lg text-gray-600 mt-5">
            Throughout this enriching experience, we've gained valuable insights into the IT industry and its evolving
            demands. Our aspirations have only grown, leading us to actively monitor market trends and specific
            requirements. This inspired us to introduce our new initiative: an IT Training Program designed under a
            fresh identity. Here, candidates will learn and contribute in a real-world environment, working on actual
            client projects. Our program not only equips individuals with technical skills but also emphasizes the
            importance of behavioral training, preparing them for success in their careers.
        </p>
        <p class="text-justify lg:text-xl lg:mt-24 mt-1 lg:font-medium sm:text-gray-600 blocks"><span
                class="text-4xl font-semibold">Y</span>our First Step to a Future in Tech</p>
        <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-5">
            We’re here to guide you every step of the way. Our mission is to prepare you not just for a kickstart in the
            IT sector, but to help you cultivate critical thinking skills. In today’s highly competitive market,
            companies are seeking candidates who can do more than just code; they want problem-solvers who can think on
            their feet. This is what will set you apart from the crowd.

        </p>
        <p class="text-sm lg:text-xl text-gray-600 mt-5">
            Towards this journey, we will train you take your first step. This is a place for learning and contributing,
            development of your personality, where making mistakes is embraced as part of the process, allowing you to
            become smart enough to learn from them.
        </p>
    </div>

    <!-- text-end -->
    <!-- Experience-Based Learning start -->
    <div class="text-justify font-[Roboto ] lg:px-[180px] px-4">
        <div class="flex flex-col md:flex-row justify-between gap-x-40 gap-y-6">
            <div class=" bg-white w-full md:w-1/2">
                <p class="text-justify lg:text-xl lg:mt-24 mt-1 lg:font-medium sm:text-gray-600 blocks"><span
                    class="text-4xl font-semibold">E</span>xperience-Based Learning</p>
                    <p class="text-justify lg:text-xl lg:mt-10 mt-1 lg:font-medium sm:text-gray-600 blocks">Complete IT
                        Experience: DevOps, Front-End, Back-End, database, and Full Stack Development by Collaboration &
                        Mentorship</p>
                    <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-5">
                        At Nirjai, you’ll experience learning and growth as if you were in a real job. You’ll begin with
                        skills development in the defined area of your interest, get benefit from the one on one support of
                        our mentors and steadily advance your skills through practical development projects.
                    </p>
                </div>
                <div class=" bg-white w-full md:w-1/2 lg:mt-24 mt-1">
                    <div>
                        <img src="../../../assets/nirjai/it-traning/icon/Experience.svg" class="lg:w-[80%]" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
    
                    </div>
                </div>
        </div>
    </div>


    <!-- Experience-Based Learning End -->
    <!-- Program Phases-start -->
    <div class="text-justify font-[Roboto ] lg:px-[180px] px-4">
        <p class="text-justify lg:text-xl lg:mt-24 mt-5 lg:font-medium sm:text-gray-600 blocks"><span
                class="text-4xl font-semibold">P</span>rogram Phases</p>
        <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-5">
            Our 4-month IT Training Program focuses on building strong technical foundations through hands-on projects,
            while also emphasizing essential behavioral skills to foster discipline and professionalism for long-term
            career success.

        </p>
        <div class="">
            <!-- Add gap-x-12 to create right space -->
            <div class="flex flex-col md:flex-row justify-between gap-x-40 gap-y-6">
                <!-- First Section: Foundational Training -->
                <div class="pt-6 bg-white w-full md:w-1/2">
                    <div class="flex items-center mb-4">
                        <!-- Icon Placeholder -->
                        <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-6 mr-3"></div>
                        <h3 class="text-lg font-semibold lg:mt-10 mt-0">Foundational Training</h3>
                        <div class="mx-4 w-[2px] h-8 lg:mt-10 mt-0  bg-black"></div>
                        <span class="text-lg font-semibold lg:mt-8 mt-0">WEEK <span
                                class="text-black lg:text-4xl text-base">(1-4)</span></span>
                    </div>
                    <hr class="border-t-2 border-[#ffa807] mb-4">
                    <ul class="list-disc ml-5 space-y-2 text-gray-700 custom-bullet">
                        <li>
                            Establish a solid foundation in your chosen specialization—Frontend, Backend, Database,
                            DevOps, or Full Stack—equipping yourself with essential skills for a successful career in
                            IT.
                        </li>
                        <li>
                            Gain hands-on experience with industry-standard tools, technologies, and workflows,
                            preparing you to thrive in real-world IT environments.
                        </li>
                    </ul>
                </div>

                <!-- Second Section: Real-World Projects -->
                <div class="p-6 bg-white w-full md:w-1/2">
                    <div class="flex items-center mb-4">
                        <!-- Icon Placeholder -->
                        <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-6 mr-3"></div>
                        <h3 class="text-lg font-semibold lg:mt-10 mt-0">Real-World Projects</h3>
                        <div class="mx-4 w-[2px] h-8 lg:mt-10 mt-0  bg-black"></div>
                        <span class="text-lg font-semibold lg:mt-8 mt-0">WEEK <span
                                class="text-black lg:text-4xl text-base">(5-16)</span></span>
                    </div>
                    <hr class="border-t-2 border-[#ffa807] mb-4">
                    <ul class="list-disc ml-5 space-y-2 text-gray-700 custom-bullet">
                        <li>
                            You'll be immersed in real industry projects, tackling actual client challenges and applying
                            your expertise to deliver impactful solutions.
                        </li>
                        <li>
                            Acquire real-world experience in a professional environment that closely mirrors industry
                            settings, preparing you for the demands of the IT field.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!-- Program Phases-end -->

    <!-- Your Tech Career-start -->

    <!-- Your Tech Career-end -->
    <div class="text-justify font-[Roboto] lg:px-[180px] px-4">
        <p class="text-justify lg:text-xl lg:mt-24 mt-1 lg:font-medium sm:text-gray-600 blocks">
            <span class="text-4xl font-semibold">A</span>n Effective Approach to Launch Your Tech Career
        </p>
    </div>

    <!-- Cards Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:px-[180px] px-4 mt-10 font-[Roboto]">
        <!-- Card 1 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c1.png" alt="Live Classes" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f]">Live Classes</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Experience hands-on learning in an interactive environment with expert instructors, offering
                personalized guidance and real-time collaboration to enhance your IT skills effectively.
            </p>
        </div>

        <!-- Card 2 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c2.png" alt="Mentorship" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Mentorship</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Unlock your potential with the right mentorship from IT industry professionals. Receive regular
                performance feedback, career insights, and support tailored to your unique learning journey and goals.
            </p>
        </div>

        <!-- Card 3 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c3.png" alt="Small Batch of Aspirants"
                class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f]">Small Batch of Aspirants</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Learn in a focused, collaborative setting with a limited group of peers, ensuring personalized
                attention, active participation, and stronger connections with mentors and fellow trainees.
            </p>
        </div>

        <!-- Card 4 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c4.png" alt="Take One Step at a Time" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f]">Take One Step at a Time</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Before diving into project work, we emphasize building a strong foundation in key IT concepts, equipping
                candidates with essential skills needed to excel in their careers and confidently tackle real-world
                challenges.
            </p>
        </div>

        <!-- Card 5 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c5.png" alt="Hands-on Training on Latest Technology"
                class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Hands-on Training on Latest Technology</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Get practical experience with cutting-edge tools and technologies, mastering real-world applications
                through interactive sessions designed to prepare you for the fast-evolving IT industry.
            </p>
        </div>

        <!-- Card 6 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c6.png" alt="Build Solid Portfolio" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Build Solid Portfolio</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Create a standout portfolio with real-world projects hosted on GitHub, showcasing your skills and
                expertise to potential employers, helping you shine in the competitive IT job market.
            </p>
        </div>
        <!-- Card 7 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c7.png" alt="Build Solid Portfolio" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Assessment based scoring</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Track your progress with regular assessments that provide clear scoring metrics, ensuring you understand
                your strengths and areas for improvement throughout your IT training journey.
            </p>
        </div>
        <!-- Card 8 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c6.png" alt="Build Solid Portfolio" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Job Placement Guidance</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Receive tailored coaching sessions focused on interview preparation, enhancing your confidence and
                skills to impress potential employers and secure your dream IT job.</p>
        </div>
    </div>
    <!-- why nirjai start -->
    <div class="text-justify font-[Roboto ] lg:px-[180px] px-4">
        <p class="text-justify lg:text-xl lg:mt-24 mt-5 lg:font-medium sm:text-gray-600 blocks"><span
                class="text-4xl font-semibold">W</span>hy Nirjai?</p>
        <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-5">
            We understand that after coming this far, you may have this question on your mind right now...
        </p>
        <p class="text-sm lg:text-lg text-gray-600 lg:mt-4 mt-2">
            At Nirjai, we are committed to supporting and motivating aspirants in a way that makes their journey both
            exciting and challenging. We have defined structured for this. </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:px-[180px] px-4 mt-10 font-[Roboto]">
        <!-- Card 1 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c9.png" alt="Live Classes" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Credentialing Your Expertise</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Upon completion, every student receives a certificate showcasing their skills and project contributions,
                which can be shared on LinkedIn or other platforms to enhance networking opportunities.
            </p>
        </div>

        <!-- Card 2 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c10.png" alt="Mentorship" class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] =">Motivational Rewards</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                Enjoy a range of incentives throughout the program, including fee refunds for top performers: 50% for
                1st rank, 30% for 2nd rank, and 15% for 3rd rank. These rewards help keep you motivated and engaged in
                your IT training.
            </p>
        </div>

        <!-- Card 3 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c11.png" alt="Small Batch of Aspirants"
                class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Assured Referrals</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                We will assured job referrals to the students who maintain a CGPA of 8 or higher receive dedicated
                support and resources to secure job opportunities in the IT industry, empowering them to launch
                successful careers.
            </p>
        </div>

        <!-- Card 4 -->
        <div class="bg-black p-6 rounded-lg text-center ">
            <img src="../../../assets/nirjai/it-traning/icon/c12.png" alt="Take One Step at a Time"
                class="mx-auto mb-4">
            <h3 class="text-lg font-semibold text-[#e8b24f] ">Flexible Payment</h3>
            <p class="text-[#e8b24f] font-normal mt-2">
                We offer flexible payment methods, including a one-time lump sum payment or the option to pay in
                installments on a monthly basis. This ensures that you can choose the payment plan that works best for
                you.
            </p>
        </div>
    </div>
    <!-- why nirjai end -->
    <!-- connect part start -->
    <div class="blocks lg:px-[180px] px-4">
        <h2
            class="lg:text-3xl text-lg font-medium hidden md:block text-gray-800 mb-6 lg:mt-14 mt-5 text-justify font-[Roboto ]">
            <span class="text-4xl font-semibold">O</span>ur team is always ready to connect with you and clear your
            doubts
        </h2>
        <div class=" flex flex-col md:flex-row lg:gap-16 w-full">
            <div class="flex lg:items-center lg:justify-center mb-8">
                <h2
                    class="lg:text-3xl order-2 text-lg font-medium block md:hidden text-gray-800 mt-2 ml-3 text-justify font-[Roboto ]">
                    Our team is always ready to connect with you and clear your doubts
                </h2>
                <div class="order-1 lg:w-36 lg:h-36 h-16 w-16 rounded-full flex items-center justify-center">
                    <div class="items-center justify-center rounded-lg mt-6" style="background-color: black">
                        <img src="../../../assets/nirjai/icon/cont.png" class="rounded-lg text-black" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                    </div>
                </div>
            </div>

            <div class="w-full md:w-7/12">
                <form class="space-y-4">
                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                        <div>
                            <label for="firstName" class="block text-sm font-medium text-gray-700">First
                                Name*</label>
                            <input type="text" name="firstName" id="firstName" class="mt-1 p-2 w-full border rounded-md"
                                required>
                        </div>
                        <div>
                            <label for="lastName" class="block text-sm font-medium text-gray-700">Last
                                Name*</label>
                            <input type="text" name="lastName" id="lastName" class="mt-1 p-2 w-full border rounded-md"
                                required>
                        </div>
                    </div>
                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email
                                id*</label>
                            <input type="email" name="email" id="email" class="mt-1 p-2 w-full border rounded-md"
                                required>
                        </div>
                        <div>
                            <label for="phone" class="block text-sm font-medium text-gray-700">Phone
                                No*</label>
                            <input type="tel" name="phone" id="phone" class="mt-1 p-2 w-full border rounded-md"
                                required>
                        </div>
                    </div>
                    <div>
                        <textarea class="mt-1 p-2 w-full border rounded-md" placeholder="Description"
                            rows="3"></textarea>
                    </div>
                    <button
                        class="bg-[#FFA500] font-medium py-2 px-4 rounded hover:transition duration-700 ease-in-out">Book
                        your call</button>
                </form>
            </div>

        </div>
    </div>

    <!-- connect part end -->
</div>