<div class="container bg-white font-[Poppins]">
    <!-- link section start -->
    <div class="py-6  text-base text-center">
        <div class="bg-[#ffa807] p-2 ">
            <p>Join our upcoming batch <span class="font-medium"> Aarambh Fellowship Program</span> <span
                    class="pl-4 font-semibold cursor-pointer">CLICK HERE</span></p>
        </div>
    </div>
    <!------------------------- link section end ---------------------------------->
    <!------------------------- image section start ---------------------------------->
    <div class="lg:px-[180px] px-4" id="Interesteds">
        <section class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 lg:py-3 blocks">
                <div class=" group">
                    <div class="lg:mt-28 mt-0 mb-5">
                        <p class="lg:text-3xl text-lg text-center font-semibold sm:text-justify">From Aspirations to
                            Reality: Transform Your
                            Career in IT</p>
                    </div>
                    <div class="flex flex-row">
                        <div class="flex items-center justify-center lg:w-16 lg:h-16 w-24 rounded-full mb-4 lg:mr-6  lg:ml-0 mr-1"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p1.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-1"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p2.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-1"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p3.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 mr-1"
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p4.png" class="text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <div class="flex items-center justify-center lg:w-16 h-16 w-24 rounded-full mb-4 lg:mr-6 "
                            style="background-color: black">
                            <img src="../../../assets/nirjai/it-traning/icon/p5.png" class=" text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="max-w-sm mx-auto p-6 bg-orange-50 rounded-lg shadow-lg">
                        <form  #emailForm="ngForm" class="space-y-4">
                            <!-- Interest Select -->
                            <div>
                                <label for="interest" class="block text-sm font-medium text-gray-700">Your Interest*</label>
                                <select name="interest" [(ngModel)]="formData.interest" id="interest" required class="mt-1 p-2 w-full border rounded-md">
                                    <option value="" disabled>Select an interest</option>
                                    <option>Web & Mobile Development</option>
                                    <option>QA & Automation</option>
                                    <option>Cloud & DevOps</option>
                                    <option>Database Management</option>
                                    <option>Data Science & Analytics</option>
                                    <option>Full-stack Development</option>
                                </select>
                            </div>
                    
                            <!-- Full Name -->
                            <div>
                                <label for="name" class="block text-sm font-medium text-gray-700">Your Full Name*</label>
                                <input type="text" name="fullName" [(ngModel)]="formData.fullName" id="fullName" required class="mt-1 p-2 w-full border rounded-md">
                            </div>
                    
                            <!-- Email Address -->
                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700">Your Email Address*</label>
                                <input type="email" id="email" name="email" name="email" [(ngModel)]="formData.email" id="email" required class="mt-1 p-2 w-full border rounded-md">
                            </div>
                    
                            <!-- Contact Number -->
                            <div>
                                <label for="contact" class="block text-sm font-medium text-gray-700">Your Contact Number*</label>
                                <input type="tel" name="phone" [(ngModel)]="formData.phone" id="phone" required class="mt-1 p-2 w-full border rounded-md">
                            </div>
                    
                            <!-- Submit Button -->
                            <div class="pt-4">
                                <button type="button" (click)="sendEmail()" class="w-full px-4 py-2 bg-[#ffa807] text-black font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-[#ffa807]">
                                    I am interested
                                </button>
                            </div>
                                    
                        </form>
                    </div>

                </div>

                <div class="block md:hidden">
                    <img src="../../../assets/nirjai/it-traning/it-t1.png" class="w" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">

                </div>
                <div class="hidden md:block">
                    <img src="../../../assets/nirjai/it-traning/it-t.png" class="w" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">

                </div>
                <div>


                </div>
            </div>
        </section>
    </div>

    <!-- end imeage section -->
    <!-- text-start -->
    <div class="text-justify  lg:px-[180px] px-4">
        <p class="text-sm lg:text-lg text-gray-600 mt-5">
            <span class="text-4xl font-semibold">O</span>ur journey began in 2022 with the launch of our first startup,
            Sourceease HR Service Pvt. Ltd., in the IT
            recruitment sector. Our mission is to create a premier marketplace for top talent, catering to recruiters,
            employers, and assessors alike. To support this vision, we developed an in-house web application and a
            mobile app, Urjobmart.

        </p>
        <p class="text-sm lg:text-lg text-gray-600 mt-5">
            Throughout this enriching experience, we've gained valuable insights into the IT industry and its evolving
            demands. Our aspirations have only grown, leading us to actively monitor market trends and specific
            requirements. This inspired us to introduce our new initiative: an IT Training Program designed under a
            fresh identity. Here, candidates will learn and contribute in a real-world environment, working on actual
            client projects. Our program not only equips individuals with technical skills but also emphasizes the
            importance of behavioral training, preparing them for success in their careers.
        </p>
        <p class="text-justify lg:text-2xl lg:mt-24 mt-5 lg:font-semibold sm:text-gray-600 blocks"><span
                class="text-4xl font-semibold">Y</span>our First Step to a Future in Tech</p>
        <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-1">
            We’re here to guide you every step of the way. Our mission is to prepare you not just for a kickstart in the
            IT sector, but to help you cultivate critical thinking skills. In today’s highly competitive market,
            companies are seeking candidates who can do more than just code; they want problem-solvers who can think on
            their feet. This is what will set you apart from the crowd.

        </p>
        <p class="text-sm lg:text-xl text-gray-600 mt-5">
            Towards this journey, we will train you take your first step. This is a place for learning and contributing,
            development of your personality, where making mistakes is embraced as part of the process, allowing you to
            become smart enough to learn from them.
        </p>
    </div>

    <!-- text-end -->
    <!-- Experience-Based Learning start -->
    <div class="text-justify lg:px-[180px] px-4">
        <div class="flex flex-col lg:flex-row justify-between gap-x-40 gap-y-6">
            <div class="bg-white w-full lg:w-1/2 order-1 lg:order-1">
                <p class="text-justify lg:text-2xl lg:mt-24 mt-1 lg:font-semibold text-gray-600">
                    <span class="text-4xl font-semibold">E</span>xperience-Based Learning
                </p>
                <div class="order-2 lg:order-2">
                    <p class="text-justify lg:text-xl lg:mt-10 mt-1 lg:font-semibold text-gray-600">
                        Complete IT Experience: DevOps, Front-End, Back-End, database, and Full Stack Development by
                        Collaboration & Mentorship
                    </p>
                    <p class="text-sm lg:text-lg text-gray-600 lg:mt-7 mt-5">
                        At Nirjai, you’ll experience learning and growth as if you were in a real job. You’ll begin with
                        skills development in the defined area of your interest, get benefit from the one-on-one support
                        of our mentors and steadily advance your skills through practical development projects.
                    </p>
                </div>
            </div>
            <div class="bg-white w-full lg:w-1/2 lg:mt-24 mt-1 order-2 lg:order-2">
                <div>
                    <img src="../../../assets/nirjai/it-traning/icon/Experience.svg" class="lg:w-[80%]" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                </div>
            </div>
        </div>
    </div>




    <!-- Experience-Based Learning End -->
    <!------------------------------------------------------- internShip-program start--------------------->
    <div class="lg:px-[180px] px-4 lg:mt-24 mt-5">
        <div class="flex flex-col md:flex-row bg-black text-white p-4 rounded-lg shadow-lg">
            <!-- Left Panel -->
            <div class="md:w-1/4 bg-black p-6 flex flex-col text-center">
                <div class="flex items-center justify-center  mb-10">
                    <img src="../../../assets/nirjai/it-traning/Lp1.png" alt="Icon" class="w-32 h-32">
                </div>
                <h2 class="text-2xl font-bold text-[#ffa807] mb-4">Aarambh Fellowship Program</h2>
                <div class="space-y-4 text-gray-300 mt-5">
                    <div class="flex space-x-6">
                        <img src="../../../assets/nirjai/it-traning/Lp2.png" alt="Icon" class="w-w-10 h-10">
                        <p class="text-[#ffa807] text-justify"><span class="text-xl font-bold">Trial
                                Session</span><br>3-Days Free Trial</p>
                    </div>
                    <div class="flex space-x-6"style="margin-top: 2.5rem;">
                        <img src="../../../assets/nirjai/it-traning/Lp3.png" alt="Icon" class="w-w-10 h-10">
                        <p class="text-[#ffa807] text-justify"><span class="text-xl font-bold">Duration</span><br>3
                            Months</p>
                    </div>
                    <div class="flex space-x-6 "style="margin-top: 2.5rem;">
                        <img src="../../../assets/nirjai/it-traning/Lp4.png" alt="Icon" class="w-10 h-10">
                        <p class="text-[#ffa807] text-justify"><span class="text-xl font-bold">Career
                                Services</span><br>Training</p>
                    </div>
                </div>
            </div>

            <!-- Right Panel -->
            <div class="md:w-3/4 p-6 bg-white text-black rounded-r-lg">
                <p class="text-center text-xl font-normal mb-6">
                    Get consultation with our professionals to find your right path and discuss your aspiration,
                    motivation, and get aligned in the right area of your interest.
                </p>

                <div class="grid grid-cols-2 md:grid-cols-5 gap-10 mb-6">
                    <div class="flex flex-col items-center">
                        <div class="w-14 h-14 bg-[#ffa807] rounded-full flex items-center justify-center mb-2">
                            <img src="../../../assets/nirjai/icon/lap.png" class="h-8 w-8 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <p class="text-center font-normal text-base">Web & Mobile Development</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="w-14 h-14 bg-[#ffa807] rounded-full flex items-center justify-center mb-2">
                            <img src="../../../assets/nirjai/it-traning/icon/Rp1.png" class="h-8 w-8 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <p class="text-center font-normal text-base">Back-End Development</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="w-14 h-14 bg-[#ffa807] rounded-full flex items-center justify-center mb-2">
                            <img src="../../../assets/nirjai/it-traning/icon/Rp2.png" class="h-8 w-8 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <p class="text-center font-normal text-base">Database Management</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="w-14 h-14 bg-[#ffa807] rounded-full flex items-center justify-center mb-2">
                            <img src="../../../assets/nirjai/icon/chart.png" class="h-8 w-8 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <p class="text-center font-normal text-base">Data Science & Analytics</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="w-14 h-14 bg-[#ffa807] rounded-full flex items-center justify-center mb-2">
                            <img src="../../../assets/nirjai/icon/cloud.png" class="h-8 w-8 text-black" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                        </div>
                        <p class="text-center font-normal text-base">Cloud Services</p>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mb-6 md:mt-14 ">
                    <p class="flex items-center space-x-2 font-normal text-base text-[#717171]"><img src="../../../assets/nirjai/it-traning/icon/chelicon.png" class="mr-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor"> In-Person
                        Sessions</p>
                    <p class="flex items-center space-x-2 font-normal text-base text-[#717171]"><img src="../../../assets/nirjai/it-traning/icon/chelicon.png" class="mr-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor"> Hands-on experienced on Latest Technology</p>
                    <p class="flex items-center space-x-2 font-normal text-base text-[#717171]"><img src="../../../assets/nirjai/it-traning/icon/chelicon.png" class="mr-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor"> Continuous Assessment </p>
                    <p class="flex items-center space-x-2 font-normal text-base text-[#717171]"><img src="../../../assets/nirjai/it-traning/icon/chelicon.png" class="mr-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor"> Build real world projects portfolio</p>
                    <p class="flex items-center space-x-2 font-normal text-base text-[#717171]"><img src="../../../assets/nirjai/it-traning/icon/chelicon.png" class="mr-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor"> Job placement guidance with assured referrals </p>
                </div>

                <p class="font-semibold text-lg">Course Fee - 75,000/-</p>
                <p class="text-[#ffa807] text-sm mb-4">Monthly Instalment Option Available*</p>

                <div class="bg-black text-white p-4 rounded-lg mt-4">
                    <p class="text-center font-bold text-lg">After 50% Discount</p>
                    <p class="text-center text-2xl font-bold text-[#ffa807]">Total Course Fee – 37,500/- Month</p>
                    <div class="flex justify-center space-x-4 mt-4">
                        <button class="bg-[#ffa807] text-black px-4 py-2 rounded-md">I am Interested</button>
                        <button class="bg-transparent border border-[#ffa807] text-[#ffa807] px-4 py-2 rounded-md"(click)="selectLink('Aarambh-Program')" >Know
                            More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------- internShip-program End--------------------->
    <!-------------------------------------------------------- Steps to Get Started------------------------>
    <div class="lg:px-[180px] px-4 lg:mt-24 mt-5">
        <div class="">
            <!-- Title -->
            <p class="text-justify lg:text-2xl lg:py-8 py-5 lg:font-semibold sm:text-gray-600 blocks"><span
                    class="text-4xl font-semibold">S</span>teps to Get Started</p>

            <!-- Steps Container -->
            <div class="grid grid-cols-1 md:grid-cols-5 gap-6">

                <!-- Step 1 -->
                <div class="flex items-center space-x-4">
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-3">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">1</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/steps1.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Register yourself</p>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="bg-[#ffa807] h-16 w-80 hidden md:block space-x-4">
                        
                </div>
                <div class="flex items-center ">
                    
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-8">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">2</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps2.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Connect with our Representative</p>
                    </div>
                </div>

                <!-- Step 3 -->
                <div class="bg-[#ffa807] h-16 w-80 hidden md:block space-x-4">
                        
                </div>
                <div class="flex items-center ">
                    
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-8">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">3</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps3.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Counselling Session</p>
                    </div>
                </div>
            </div>
                <!-- Step 4 -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
                <div class="flex items-center ">
                    <div class="bg-[#ffa807] h-16 w-80 hidden md:block">
                        
                    </div>
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-8">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">4</span>
                        </div>
                    </div>
                   
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps4.png" alt="Icon" class="w-12 h-12">
                        <p class="font-medium text-gray-900">Clear the Logic Challenge & Pass the Interview Round</p>
                    </div>
                </div>

                <!-- Step 5 -->
                <div class="flex items-center ">
                    <div class="bg-[#ffa807] h-16 w-80 hidden md:block">
                        
                    </div>
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-8">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">5</span>
                        </div>
                    </div>
                    
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps5.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Begin Your Application</p>
                    </div>
                    <div class="bg-[#ffa807] h-16 w-80 hidden md:block">
                        
                    </div>
                </div>
                </div>
                <!-- Step 6 -->
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-10">
                <div class="flex items-center space-x-4">
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-3">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">6</span>
                        </div>
                    </div>
                   
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps6.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Pay & Secure Your Spot</p>
                    </div>
                </div>

                <!-- Step 7 -->
                <div class="bg-[#ffa807] h-16 w-80 hidden md:block ml-20">
                        
                </div>
                <div class="flex items-center">
                    
                    <div class="bg-gradient-to-r from-white to-[#ffa807] h-16 w-10 mr-8">
                        <div class="flex items-center p-4">
                            <span class="text-2xl font-bold text-black">7</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2">
                        <img src="../../../assets/nirjai/it-traning/Steps7.png" alt="Icon" class="w-10 h-10">
                        <p class="font-medium text-gray-900">Begin Your IT Journey</p>
                    </div>
                </div>
                </div>
            
        </div>
    </div>


    <!-------------------------------------------------------- Steps to Get End------------------------>

    <!-- why nirjai end -->
    <!-- connect part start -->
    <div class="blocks lg:px-[180px] px-4 md:mt-0 mt-8">
        <h2 class="lg:text-2xl text-lg lg:font-semibold hidden md:block text-gray-800 mb-6 lg:mt-14 mt-5 text-justify ">
            <span class="text-4xl font-semibold">R</span>egister Yourself
        </h2>
        <div class=" flex flex-col md:flex-row lg:gap-16 w-full">
            <div class="flex lg:items-center lg:justify-center mb-8">
                <h2
                    class="lg:text-2xl order-2 text-lg font-semibold block md:hidden text-gray-800 lg:mt-2 mt-6 ml-3 text-justify ">
                    Register Yourself
                </h2>
                <div class="order-1 lg:w-36 lg:h-36 h-16 w-16 rounded-full flex items-center justify-center">
                    <div class="items-center justify-center rounded-lg mt-6" style="background-color: black">
                        <img src="../../../assets/nirjai/icon/cont.png" class="rounded-lg text-black" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                    </div>
                </div>
            </div>

            <div class="w-full md:w-7/12">
                <form class="space-y-4" #emailForm="ngForm">
                    <!-- Form Fields -->
                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                        <div>
                            <label for="fullName" class="block text-sm font-medium text-gray-700">Your Full Name*</label>
                            <input type="text" name="fullName" [(ngModel)]="formData.fullName" id="fullName" class="mt-1 p-2 w-full border rounded-md" required>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email ID*</label>
                            <input type="text" name="email" [(ngModel)]="formData.email" id="email" class="mt-1 p-2 w-full border rounded-md" required>
                        </div>
                    </div>
                    <div class="flex flex-col lg:grid grid-cols-2 gap-4">
                        <div>
                            <label for="phone" class="block text-sm font-medium text-gray-700">Phone No*</label>
                            <input type="text" name="phone" [(ngModel)]="formData.phone" id="phone" class="mt-1 p-2 w-full border rounded-md" required>
                        </div>
                        <div>
                            <label for="interest" class="block text-sm font-medium text-gray-700">Your Area of Interest*</label>
                            <select name="interest" [(ngModel)]="formData.interest" id="interest" class="mt-1 p-2 w-full border rounded-md" required>
                                <option value="" disabled>Select an interest</option>
                                <option>Web & Mobile Development</option>
                                <option>QA & Automation</option>
                                <option>Cloud & DevOps</option>
                                <option>Database Management</option>
                                <option>Data Science & Analytics</option>
                                <option>Full-stack Development</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <textarea name="description" [(ngModel)]="formData.description" class="mt-1 p-2 w-full border rounded-md" placeholder="Description" rows="3"></textarea>
                    </div>
                    <button type="button" (click)="sendEmail()" class="bg-[#FFA500] font-medium py-2 px-4 rounded hover:transition duration-700 ease-in-out">Submit</button>
                </form>
            </div>
            

        </div>
    </div>

    <!-- connect part end -->
</div>